# Ollama Settings
OLLAMA_BASE_URL=https://jimmyllama.dev-serve.me
OLLAMA_DEFAULT_MODEL=granite4.1:3b
D2C_MODEL=ollama:granite4.1:3b

# External API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
DEEPINFRA_API_KEY=
